
html {
    /* font-size: 18px; */
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
}


header {
    background-image: url('../images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 120px 20px 0 20px;
}

main {
    padding: 0 20px;
}

h1, h2, h3 {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
    margin-top: 160px;
    padding: 0 13px;
}

h2:nth-of-type(3n) {
    margin-top: 100px;
}

h2:nth-of-type(4n) {
    margin-top: 130px;
}


h3 {
    font-size: 1.4rem;
    margin: 50px 0 20px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 13px;
}

aside, nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside {
    margin-top: 90px;
}

aside img {
    padding: 40px;
}

nav {
    background: #f5f6f8;
    margin-top: 170px;
    padding: 15px 0 50px 0;
}

.ios-button, .mac-button {
    display: block;
    text-decoration: none;
    color: white;
    margin: 25px 15px;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1.1rem;
    letter-spacing: .05em;
}

.ios-button {
    background: hsl(171, 66%, 44%);
    margin-top: 50px;
    box-shadow: 0 3px #249e89;
}

.ios-button:hover {
    background: hsl(171, 52%, 58%);
    box-shadow: 0 3px hsl(168, 39%, 53%);
}

.mac-button {
    background: hsl(233, 100%, 69%);
    margin-bottom: 50px;
    box-shadow: 0 3px #4f62d8;
}

.mac-button:hover {
    background: hsl(233, 100%, 77%);
    box-shadow: 0 3px hsl(233, 63%, 69%);
}

.computer-images {
    width: 95%;
    margin-top: 50px;
}

.feature-icons {
    margin-top: 50px;
}

.feature-icons:nth-of-type(1n){
    margin-top: 75px;
}

.bottom-logo {
    transform: scale(.44);
}

.container {
    /* padding: 0 20px; */
    text-align: center;
}

.bottom-nav-links {
    display: flex;
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    padding: 15px;
    font-size: 1.1rem;
}

.bottom-nav-links:hover {
    color: hsl(171, 66%, 44%);
}

.social-links {
    display: flex;
    gap: 35px;
    margin-top: 50px;
}

.social-links > svg {
    fill: #4C545C;
}

.social-links > svg:hover {
    fill: hsl(171, 66%, 44%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }